/* jumbo2 =================================*/

.jumbo2 {
    height: 820px;
    width: 100%;
}

@media (max-width:450px) {
    .jumbo2 {
        height: 400px;
        width: 100%;
        margin-top: 80px;
    }
}


/* topInfo =================================*/

.topInfo {
    width: 1050px;
    background-color: #fff;
    margin: 0 auto;
    text-align: center;
    margin-top: -100px;
    padding-top: 110px;
}

.topInfo h2 {
    font-style: italic;
    font-size: 1.7em;
    font-weight: 300;
    letter-spacing: 4px;
    line-height: 80px;
}

.topInfo .h1Box {
    max-width: 370px;
    margin: 0 auto;
}

.topInfo .h1Box h1 {
    font-weight: 400;
    font-size: 1.3em;
    letter-spacing: 3px;
    font-family: 'Cormorant Unicase', serif;
}
.topInfo .h1Box h1 {
    font-weight: 400;
    font-size: 1.3em;
    letter-spacing: 3px;
    font-family: 'Cormorant Unicase', serif;
}
.topInfo .topInfoText {
    width: 650px;
    font-weight: 400;
    font-family: 'Cormorant Unicase', serif;
    margin: 24px auto 0;
    letter-spacing: 4px;
    line-height: 30px;
    font-size: .8em;
    text-align: left;
}

@media (max-width:1100px) {
    .topInfo {
        width: 100%;
        background-color: #fff;
        margin: 0 auto;
        text-align: center;
        margin-top: -100px;
        padding-top: 110px;
    }
}

@media (max-width:450px) {
    .topInfo {
        width: 100%;
        background-color: #fff;
        margin: 0 auto;
        text-align: center;
        margin-top: -100px;
        padding-top: 35px;
    }
    .topInfo h2 {
        font-style: italic;
        font-size: 1.2em;
        font-weight: 300;
        letter-spacing: 4px;
        line-height: 80px;
    }
    .topInfo .h1Box {
        max-width: 370px;
        margin: 10px auto;
        max-width: 80%;
    }
    .topInfo .h1Box h1 {
        font-weight: 400;
        font-size: 1em;
        letter-spacing: 3px;
        font-family: 'Cormorant Unicase', serif;
    }
    .topInfo .topInfoText {
        width: 90%;
        font-weight: 400;
        font-family: 'Cormorant Unicase', serif;
        margin: 73px auto 0;
        letter-spacing: 4px;
        line-height: 35px;
        font-size: .9em;
        text-align: left;
    }
}


/* stay =================================*/

.stayWrap2 {
    width: 100%;
    margin-top: 150px;
}

.stayWrap2 .stay {
    width: 1170px;
    margin: 50px auto;
}

.stayWrap2 .stay .stayLeft {
    float: left;
    height: 440px;
    width: 61.5%;
}

.stayWrap2 .stay .stayRight {
    width: 30%;
    margin: 0 4.2%;
    float: right;
}

.stayWrap2 .stay h3 {
    font-size: 1.1em;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: 'Cormorant Unicase', serif;
}

.stayWrap2 .stay .stayRight .roomIntro {
    margin : 27px 5% 0px 5%;
    font-size: .85em;
    font-family: 'Cormorant Unicase', serif;
    line-height: 25px;
    letter-spacing: 2px;
}

.stayWrap2 .stay .stayRight .roomInfo {
    margin-top: 10px;
    padding: 23px 15px;
    margin-top: 20px;
    font-size: .8em;
    font-family: 'Cormorant Unicase', serif;
    line-height: 25px;
    letter-spacing: 2px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.stayWrap2 .stay .stayRight a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-top: 0;
    color: #000;
    font-size: .8em;
    letter-spacing: 2px;
    font-weight: 800;
    padding-left: 20px;
    box-sizing: border-box;
    transition: all .3s;
}

.stayWrap2 .stay .stayRight a i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    font-size: 1.2em;
}

.stayWrap2 .stay .stayRight a:hover {
    background-color: #333;
    color: #fff;
}

@media (max-width:1100px) {
    .stayWrap2 .stay {
        width: 100%;
        margin: 12px auto;
    }
}

@media (max-width:450px) {
    .stayWrap2 .stay .stayLeft,
    .stayWrap2 .stay .stayRight {
        float: none;
        width: 100%;
    }
    .stayWrap2 .stay .stayRight {
        margin: 0;
        padding: 10%;
        box-sizing: border-box;
    }
    .stayWrap2 .stay .stayLeft {
        height: 270px;
        width: 90%;
        left: 5%;
    }
    .stayWrap2 .stay .stayRight h3 {
        font-size: 1.1em;
        font-weight: 400;
        letter-spacing: 2px;
        font-family: 'Cormorant Unicase', serif;
        text-align: center;
        line-height: 16px;
    }
    .stayWrap2 .stay .stayRight .roomIntro {
        margin-top: 2px;
        font-size: .85em;
        font-family: 'Cormorant Unicase', serif;
        line-height: 25px;
        letter-spacing: 2px;
    }
    .stayWrap2 .stay .stayRight .roomInfo {
        padding: 20px 18px;
        margin-top: 10px;
        font-size: .8em;
        font-family: 'Cormorant Unicase', serif;
        line-height: 25px;
        letter-spacing: 2px;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
    }
    .stayWrap2 .stay .stayRight a {
        display: block;
        width: 100%;
        height: 50px;
        line-height: 50px;
        margin-top: 0;
        color: #000;
        font-size: .8em;
        letter-spacing: 2px;
        font-weight: 800;
        padding-left: 20px;
        box-sizing: border-box;
        transition: all .3s;
    }
    .stayWrap2 .stay .stayRight a i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5%;
        font-size: 1.2em;
    }
}

@media (max-width:500px){
     .stayWrap2 .stay .stayRight a {

        color: #fff;
         background-color: #000000;
        font-size: .8em;
        letter-spacing: 2px;
        font-weight: 800;
        padding-left: 20px;
        box-sizing: border-box;
        transition: all .3s;
    }
    .stayWrap2 .stay .stayRight a i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5%;
        font-size: 1.2em;
    }
}

@media (max-width:400px) {
    .stayWrap2 .stay {
        width: 100%;
        margin: 5px auto;
    }
}



/* stayJumbo =================================*/

.stayJumbo {
    height: 485px;
    margin-top: 150px;
}

@media (max-width:1100px) {
    .stayJumbo {
        height: 300px;
        margin-top: 150px;
        margin-top: 50px;
    }
}


/* aboutBox =================================*/

.aboutBox {
    width: 1170px;
    margin: 100px auto 0;
}

.aboutBox .aboutImg {
    width: 750px;
    height: 500px;
}

.aboutBox .aboutText {
    width: 640px;
    height: 400px;
    position: absolute;
    top: 340px;
    right: 10px;
    background-color: #fff;
    padding: 40px;
}

.aboutBox .aboutTitle {
    font-family: 'Cormorant Unicase', serif;
    letter-spacing: 2px;
    line-height: 25px;
    width: 580px;
}

.aboutBox .aboutContent {
    margin-top: 35px;
    font-family: 'Cormorant Unicase', serif;
    letter-spacing: 3px;
    line-height: 28px;
    font-size: .8em;
}

@media (max-width:1100px) {
    .aboutBox {
        width: 100%;
        margin: 100px auto 400px;
    }
    .aboutBox .aboutImg {
        width: 100%;
        height: 500px;
    }
    .aboutBox .aboutText {
        width: 650px;
        height: 200px;
        position: absolute;
        top: 400px;
        right: 0;
        background-color: #fff;
        padding: 50px;
    }
    .aboutBox .aboutTitle {
        font-family: 'Cormorant Unicase', serif;
        letter-spacing: 2px;
        line-height: 25px;
        width: 100%;
    }
    .aboutBox .aboutContent {
        margin-top: 35px;
        font-family: 'Cormorant Unicase', serif;
        letter-spacing: 3px;
        line-height: 28px;
        font-size: .8em;
    }
}

@media (max-width:450px) {
    .aboutBox {
        width: 100%;
        margin: 100px auto 0;
    }
    .aboutBox .aboutImg {
        width: 100%;
        height: 280px;
    }
    .aboutBox .aboutText {
        width: 100%;
        height: 200px;
        position: relative;
        top: 0;
        right: 0;
        background-color: #fff;
        padding: 7%;
        box-sizing: border-box;
    }
    .aboutBox .aboutTitle {
        font-family: 'Cormorant Unicase', serif;
        letter-spacing: 2px;
        line-height: 25px;
        width: 100%;
    }
    .aboutBox .aboutContent {
        margin-top: 35px;
        font-family: 'Cormorant Unicase', serif;
        letter-spacing: 3px;
        line-height: 28px;
        font-size: .8em;
    }
}


/* mapPage =================================*/

#mapPage {
    margin-top: 250px;
}

@media (max-width:450px) {
    #mapPage {
        margin-top: 100px;
    }
}


/* regu =================================*/

.regu {
    width: 1000px;
    margin: 0 auto;
    margin-top: 100px;
}

.regu .reguBox {
    border-top: 1px solid #8d8d8d;
    margin-bottom: 50px;
}

.regu .reguBox .reguTitle {
    width: 170px;
    height: 45px;
    border-bottom: 1px solid #8d8d8d;
    color: #000;
    line-height: 45px;
    text-align: center;
    letter-spacing: 8px;
    margin-top: -1px;
}

.regu .reguBox .reguContent {
    padding: 40px 30px;
	margin-bottom: 5%;
    line-height: 27px;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 1em;
}

@media (max-width:1100px) {
    .regu {
        width: 800px;
        margin: 0 auto;
        margin-top: 100px;
    }
    .regu .reguBox .reguContent {
        padding: 40px 30px;
        line-height: 27px;
        letter-spacing: 1px;
        font-weight: 400;
        font-size: .9em;
    }
}

@media (max-width:800px) {
    .regu {
        width: 650px;
        margin: 0 auto;
        margin-top: 100px;
    }
}

@media (max-width:450px) {
    .regu {
        width: 350px;
        margin: 0 auto;
        margin-top: 100px;
    }
    .regu .reguBox .reguContent {
        padding: 20px 0;
    }
}


/* bookingForm =================================*/

.bookingForm {
    width: 630px;
    /* background-color: antiquewhite;*/
    margin: 0 auto;
    margin-top: 80px;
    padding: 50px;
    box-sizing: border-box;
    border-top: 1px solid #7c7c7c;
    border-bottom: 1px solid #7c7c7c;
}

.bookingForm table {
    width: 100%;
}

.bookingForm table tr {
    line-height: 70px;
}

.bookingForm table tr td:first-child {
    width: 15%;
    text-align: right;
    letter-spacing: 2px;
    /* background-color: red;*/
}

.bookingForm table tr td:last-child {
    width: 77%;
    left: 3%;
    /*  background-color: blue;*/
}

.bookingForm table tr td input {
    width: 93%;
    border: none;
    border-bottom: 1px solid #d0d0d0;
    height: 40px;
    font-size: 1em;
    font-weight: 300;
    padding-left: 5px;
    letter-spacing: 1px;
}


/*.bookingSubmit{
    width:200px;
    height:50px;
    margin:0 auto;
}*/

.bookingSubmit {
    display: block;
    padding: 10px 170px;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    letter-spacing: 3px;
    font-size: 1em;
    margin-top: 50px;
    border: 1px solid #d0d0d0;
    transition: all .3s;
}

.bookingSubmit:hover {
    background-color: #000;
    color: #fff;
}

@media (max-width:450px) {
    .bookingForm {
        width: 100%;
        /* background-color: antiquewhite;*/
        margin: 0 auto;
        margin-top: 80px;
        padding: 30px;
        box-sizing: border-box;
        border-top: 1px solid #7c7c7c;
        border-bottom: 1px solid #7c7c7c;
    }
    .bookingForm table {
        width: 100%;
    }
    .bookingForm table tr {
        line-height: 70px;
    }
    .bookingForm table tr td:first-child {
        width: 27%;
        text-align: right;
        letter-spacing: 2px;
        /* background-color: red;*/
    }
    .bookingForm table tr td:last-child {
        width: 69%;
        left: 1%;
        /*  background-color: blue;*/
    }
    .bookingForm table tr td input {
        width: 93%;
        border: none;
        border-bottom: 1px solid #d0d0d0;
        height: 40px;
        font-size: 1em;
        font-weight: 300;
        padding-left: 5px;
        letter-spacing: 1px;
    }
    /*.bookingSubmit{
    width:200px;
    height:50px;
    margin:0 auto;
}*/
    .bookingSubmit {
        display: block;
        padding: 10px 140px;
        font-weight: 400;
        text-align: center;
        margin: 0 auto;
        letter-spacing: 3px;
        font-size: 1em;
        margin-top: 50px;
        border: 1px solid #d0d0d0;
        transition: all .3s;
    }
}


/* room =================================*/

#roomInfo .h1Box h1 {
    font-size: 2.5em;
    
}

#roomInfo .cname {
    font-size: .9em;
    line-height: 100px;
}

.roomPic {
    width: 800px;
    margin: 0 auto;
}

.roomPic .roomPic1 {
    width: 100%;
    height: 600px;
}

.roomPic .roomPics {
    margin-top: 15px;
    width: 100%;
}
.roomPic .roomPics a{
	width: 15.6666%;
    float: left;
	margin-right: 1.2%;
    box-sizing: border-box;
    display: block;
}
.roomPic .roomPics a .sp {
   
    height: 100px;
   width:100%;
}

.roomPic .roomPics a:last-child {
    margin-right: 0;
}

.roomIntro {
    
    margin: 30px auto 0;
    line-height: 30px;
    font-family: 'Cormorant Unicase', serif;
    letter-spacing: 1px;
    font-size: .8em;
   
}
.roomIntro2 {
    width:550px;
    margin: 80px auto ;
    line-height: 30px;
    font-family: 'Cormorant Unicase', serif;
    letter-spacing: 1px;
    font-size: .8em;
   
}
.roomInfo {
    margin-top: 0;
}

.roomBooking {
    display: block;
    width: 300px;
    height: 50px;
    border: 1px solid #000;
    line-height: 50px;
    color: #000;
    font-size: .8em;
    letter-spacing: 2px;
    font-weight: 800;
    text-align: center;
    box-sizing: border-box;
    transition: all .3s;
    margin: 0% auto 25% auto;
}

.roomBooking:hover {
    background-color: #333;
    color: #fff;
}

.roomBooking .fas {
    position: absolute;
    top: 16px;
    right: 15px;
    font-size: 1.2em;
}

@media (max-width:800px) {
    .roomPic {
        width: 90%;
        margin: 0 auto;
    }
    .roomPic .roomPic1 {
        width: 100%;
        height: 420px;
    }
    .roomPic .roomPics .sp {
        width: 15.6666%;
        float: left;
        height: 70px;
        margin-right: 1.2%;
        box-sizing: border-box;
    }
}

@media (max-width:450px) {
    .roomIntro {
        width: 90%;
        margin: 80px auto;
        line-height: 30px;
        font-family: 'Cormorant Unicase', serif;
        letter-spacing: 1px;
        font-size: .8em;
    }
    #roomInfo .h1Box h1 {
        font-size: 2em;
    }
    .roomBooking {
    
        width: 80%;
		margin-top:25%;
		text-align: justify;
     
    }
      .roomPic .roomPic1 {
        width: 100%;
        height: 220px;
    }
     .roomPic .roomPics a .sp {
    
        height: 50px;
       
    }
    
    .roomIntro2 {
    width:80%;
    margin: 40px auto ;
    line-height: 30px;
    font-family: 'Cormorant Unicase', serif;
    letter-spacing: 1px;
    font-size: .8em;
   
}
}


/* =================================*/

.stayWrap3 {
    width: 100%;
    margin-top: 100px;
}

.stayWrap3  .stay {
    width: 800px;
    margin: 20px auto;
}

.stayWrap3  .stay .stayLeft {
    float: left;
    height: 440px;
    width: 50%;
	line-height: 25px;
	letter-spacing: 1px;
}

.stayWrap3 .stay .stayRight {
	width: 40%;
	float: right;
}

/*.stayWrap3  .stay h3 {
    font-size: 1.1em;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: 'Cormorant Unicase', serif;
	text-align: center;
}*/

.stayWrap3  .stay .stayRight .roomIntro {
    margin-top: 35px;
    font-size: .85em;
    font-family: 'Cormorant Unicase', serif;
    line-height: 25px;
    letter-spacing: 2px;
}

.stayWrap3  .stay .stayRight .roomInfo {
	margin-top:-15px; 
    margin-left: 40px;
    font-size: .8em;
    font-family: 'Cormorant Unicase', serif;
    line-height: 25px;
    letter-spacing: 2px;
}
/*
.stayWrap3  .stay .stayRight a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-top: 0;
    color: #000;
    font-size: .8em;
    letter-spacing: 2px;
    font-weight: 800;
    padding-left: 20px;
    box-sizing: border-box;
    transition: all .3s;
}*/

.stayWrap3  .stay .stayRight a i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    font-size: 1.2em;
}

.stayWrap3  .stay .stayRight a:hover {
    background-color: #333;
    color: #fff;
}

@media (max-width:1100px) {
    .stayWrap3  .stay {
        width: 100%;
        margin: 12px auto;
    }
}

@media (max-width:450px) {
    .stayWrap3  .stay .stayLeft,
    .stayWrap3  .stay .stayRight {
        float: none;
        width: 100%;
    }
	.stayWrap3	.stay .stayRight {
        margin: 0;
        padding-top: 0%;
        box-sizing: border-box;
		width: 100%;
		top:-30px;
    }
    .stayWrap3  .stay .stayLeft {
        height: 270px;
        width: 100%;
        left: 5%;
    }
    .stayWrap3  .stay .stayRight h3 {
        font-size: 1.1em;
        font-weight: 400;
        letter-spacing: 2px;
        font-family: 'Cormorant Unicase', serif;
        text-align: center;
        line-height: 16px;
    }
    .stayWrap3  .stay .stayRight .roomIntro {
        margin: 30% 0 0 0;
        font-size: .85em;
        font-family: 'Cormorant Unicase', serif;
        line-height: 22px;
        letter-spacing: 2px;
    }
    .stayWrap3  .stay .stayRight .roomInfo {
        padding: 2px 20px;
        margin-top: 0px;
        font-size: .8em;
        font-family: 'Cormorant Unicase', serif;
        line-height: 25px;
        letter-spacing: 2px;
        border-top: 0px solid #000;
        border-bottom: 0px solid #000;
		height:350px;
    }
    .stayWrap3  .stay .stayRight a {
        display: block;
        width: 100%;
        height: 50px;
        line-height: 50px;
        margin-top: 0;
        color: #000;
        font-size: .8em;
        letter-spacing: 2px;
        font-weight: 800;
        padding-left: 20px;
        box-sizing: border-box;
        transition: all .3s;
    }
    .stayWrap3  .stay .stayRight a i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5%;
        font-size: 1.2em;
    }
}

@media (max-width:450px){
     .stayWrap3  .stay .stayRight a {

        color: #fff;
         background-color: #000000;
        font-size: .8em;
        letter-spacing: 2px;
        font-weight: 800;
        padding-left: 20px;
        box-sizing: border-box;
        transition: all .3s;
    }
    .stayWrap3  .stay .stayRight a i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5%;
        font-size: 1.2em;
    }
	.stayWrap3  .stay .stayRight h3 {
	text-align: left;
	}
	.stayWrap3  .stay .stayRight .roomIntro {
	left:0;
    }
}

@media (max-width:400px) {
    .stayWrap3  .stay {
        width: 100%;
        margin: 5px auto;
    }
	.stayWrap3  .stay .stayRight h3 {
	text-align: left;
	}
	.stayWrap3  .stay .stayRight .roomIntro {
	left:0;
    }
	
}

/* =================================*/